@page
@model Galaxon.Astronomy.AstroAPI.Pages.DeltaTChart

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    This is my Delta-T chart page.
</div>
</body>
</html>
